* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}div#all-players-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}div#new-player-form{
    /*margin*/
    width: 250px;
    background-color: gray;
    padding: 10px;
    border: 1px solid black;   
    /*layout*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#teams-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
}#mini-game{
    display: flex;
    flex-direction: row;
    gap: 30px;
}div.team{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    width: 150px;
    background-color: gray;
    padding: 10px;
}ul{
    list-style: none;

}


